body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
            background-color:  black;
            padding: 40px;
            border-radius: 20px;
            box-shadow: 0 8px 20px rgba(0,0,0,0.1);
            text-align: center;
            max-width: 700px;
            width: 100%;
        }
  h1{
    font-size: 34px;
    color: white;
    margin-bottom: 10px;
  }
  .quote-box{
    background-color: rgb(221, 220, 220);
     border-radius: 20px;
     border-left:solid 10px blue;
  }
  .quote-box:hover{
    box-shadow: 0 12px 24px rgba(255, 255, 250, 0.5);
    transform: translateY(-5px);
  }
  #quote{
    font-size: 30px;
    color: black;
    white-space: pre-wrap;
 }      